body {
    background-image: url('assets/img/background.png');
    background-size: cover;
    align-content: center;
}
#game-ground {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    background: #000000;
}

.ground-wrapper {
    width: 600px;
    height: 600px;
}

.arrow-keys {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background: #000000;
    align-content: center;
    text-align: center;
    border-top: 1px solid white;
}
.arrow-keys button {
    width: 80px;
    height: 50px;
    background-color: blue;
    color: #fff;
    outline: none;
    border: none;
    margin: 5px;
    box-shadow: 3px 3px 3px 3px #323238;
}

.arrow-keys button:active {
    background-color: #9090e2;
}

.arrow-keys {
    display: none;
}

#playbtn {
    display: none; 
    width: 100px;
    height: 50px;
    position: absolute;
    outline: none;
    border: none;
    margin: 0 auto;
    background-color: blue;
    margin-left: calc(50% - 50px);
    margin-top: -100px;
    color: white;
    font-size: 18px;
}

/*mobile view*/
 @media (max-width: 1024px){
    .arrow-keys {
        display: block;
    }
}
